* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: black;
}

.calculator-container {

  justify-content: center;
  width: 350px;
  height: 100%;
  background-color: #EDEFF0;

}

.display-container {
  background: white;
  width: 100%;
}

#display {
  background: #F1F3F2;

  border: none;

  width: 100%;
  height: 180px;

  color: black;
  text-align: end;
  font-weight: 300;
  font: 48px "Roboto", arial, sans-serif;

  padding: 100px 20px 10px 10px;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: black;
  text-align: end;
  font-weight: 300;
  font: 48px "Roboto", arial, sans-serif;
}

.options button {
  color: #787a7c;
  font-weight: 400;
  font-size: larger;
  font-family: "Roboto", sans-serif;

  appearance: none;
  border: none;
  background-color:white;
  width: 85px;

  margin: 1px;
}

.options button:active{
  background: #F1F3F2;
}

.operadores:focus {
  background: #F1F3F2;

}


#del img {
  width: 13px;

}





.options {
  height: 300px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-areas: 
  "A B C D"
  "E F G H"
  "I J K L"
  "M N O P"
  "Q R S P";
  
}
.options button:nth-child(1) {
  grid-area: A;
  color: #fb772f;
}

.options button:nth-child(2) {
  grid-area: B;
}
.options button:nth-child(3) {
  grid-area: C;
}
.options button:nth-child(4) {
  grid-area: D;
}
.options button:nth-child(5) {
  grid-area: E;
}
.options button:nth-child(6) {
  grid-area: F;
}
.options button:nth-child(7) {
  grid-area: G;
}
.options button:nth-child(8) {
  grid-area: H;
}
.options button:nth-child(9) {
  grid-area: I;
}
.options button:nth-child(10) {
  grid-area: J;
}
.options button:nth-child(11) {
  grid-area: K;
}
.options button:nth-child(12) {
  grid-area: L;
}
.options button:nth-child(13) {
  grid-area: M;
}
.options button:nth-child(14) {
  grid-area: N;
}
.options button:nth-child(15) {
  grid-area: O;
}
.options button:nth-child(16) {
  grid-area: P;
  background: #fb772f;
  color: white;
}
.options button:nth-child(16):active {
  background: #f78c52;
  color: white;
}options button:nth-child(17) {
  grid-area: Q;
}
.options button:nth-child(18) {
  grid-area: R;
}
.options button:nth-child(19) {
  grid-area: S;
}
